<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>XML Parser</title>
</head>
<body>
<!--<form action="#" th:action="@{/result}"  method="post">-->
    <!--<input placeholder="Enter the city" name="keyword"/>-->
    <!--<input type="submit" value="Search"/>-->
<!--</form>-->
<form action="#" th:action="@{/testresult}"  method="post">
    <input placeholder="Enter start position" name="a"/>
    <input placeholder="Enter destination" name="b"/>
    <input type="submit" value="Search"/>
</form>

</body>
</html>